@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 67% 94%;
    --foreground: 275 100% 10%;
    --card: 240 67% 97%;
    --card-foreground: 275 100% 10%;
    --popover: 240 67% 97%;
    --popover-foreground: 275 100% 10%;
    --primary: 275 100% 25%;
    --primary-foreground: 240 67% 98%;
    --secondary: 271 76% 90%;
    --secondary-foreground: 275 100% 10%;
    --muted: 240 20% 85%;
    --muted-foreground: 240 5% 45%;
    --accent: 271 76% 54%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 275 20% 80%;
    --input: 275 20% 88%;
    --ring: 271 76% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    --card: 240 10% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 271 76% 65%;
    --primary-foreground: 275 100% 10%;
    --secondary: 240 10% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 10% 12%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 271 76% 54%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 15%;
    --input: 240 10% 15%;
    --ring: 271 76% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
